<br>
<h2 align="center">Investigations</h2>
<br>
<div style="overflow-x:auto;">
    <table align="center"> <!--Look how to change 'align' because it does not support HTML5-->
        <tr>
            <th>Investigation Name</th>
            <th>About</th> 
            <th>Proffesor</th>
            <th>Leader</th>
            <th>Mission and Vision</th>
            <th>Requirements</th>
            <th>Space Available</th>
            <th>Team Size</th>
            <th>Deparment</th>
            <th>Progress</th>
        </tr>
        <tr>
            <td>Artificial Intelligence</td>
            <td>Creation of intelligent machines that work and react like humans</td>
            <td>Dr.Keiji</td> 
            <td>Alexis Luciano</td>
            <td>Making a real life Skynet but that dosent want to kill people</td>
            <td>Advanced Programming</td>
            <td>02</td>
            <td>25</td>
            <td>Computer Science and Engineering</td>
            <td>Expected Finalization: N/A</td>
        </tr>
        <tr>
            <td>Cryotography</td>
            <td>The art of writing or solving codes</td>
            <td>Dr.Keiji</td> 
            <td>Emma Dominguez</td>
            <td>No system is safe</td>
            <td>Advanced Programming and Data Structures</td>
            <td>05</td>
            <td>20</td>
            <td>Computer Science and Engineering</td>
            <td>Expected Finalization: 12 years</td>
        </tr>
    </table>
</div>
<app-professors></app-professors>
