<br>
<h2 align="center">Contact Us</h2>
<div class="container">
    <form action="action_page.php">
  
    <label for="fname">First Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name..">
  
    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..">
  
    <label for="email">Email</label>
    <input type="text" id="email" name="email" placeholder="Your upr email..">
  
    <label for="subject">Subject</label>
    <input type="text" id="subject" name="subject" placeholder="Subject to discuss..">

    <label for="message">Message</label>
    <textarea id="message" name="message" placeholder="Write something.." style="height:200px"></textarea>
  
    <input type="submit" value="Submit">
  
  </form>
</div>