<div class="header" id="myHeader">
<header>
  <div class="sticky">
  <div class="navbar">
    <a routerLink="/home" class="logo">{{ appTitle }}</a>
    <nav style="float:right;">
      <div class="dropdown">
        <button class="dropbtn" routerLink="/home">Home
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a routerLink="/home/news">News</a>
          <a routerLink="/home/investigations">Investigations</a>
          <a routerLink="/home/special-projects">Special Projects</a>
        </div>
      </div>
      <a routerLink="/about">About Us</a>
      <a routerLink="/contact">Contact Us</a>
    </nav>
  </div>
  </div>
</header>
</div>

