<br>
<h2 align="center">Special Projects</h2>
<br>
<div style="overflow-x:auto;">
    <table align="center">
        <tr>
            <th>Project Name</th>
            <th>About</th> 
        </tr>
        <tr>
            <td>UAV Search and Rescue</td>
            <td>Research in Unmmanned Aerial Vehicles for search and rescue</td>
        </tr>
        <tr>
            <td>Moon Buggy</td>
            <td>The creation of a moon buggy capable of working on the moon's surface</td>
        </tr>
    </table>
  </div>
