<br>
<h2 align="center">Professors</h2>
<br>
<div class="row">
    <div class="column">
      <div class="card">
        <img src="../assets/profile-1.jpg" alt="Dave" style="width:100%">
        <div class="container">
          <h2>Dave</h2>
          <p class="title">Head Master of the Drak Arts</p>
          <p>Never let go of my god, my cat!</p>
          <p>example@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="../assets/profile-2.jpg" alt="Mike" style="width:100%">
        <div class="container">
          <h2>Mike</h2>
          <p class="title">Web Junky</p>
          <p>Youtube is my drug and I will never let go.</p>
          <p>example@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="../assets/profile-3.jpg" alt="Stacy" style="width:100%">
        <div class="container">
          <h2>Stacy</h2>
          <p class="title">Head mistress of the Data</p>
          <p>100110 101010 111100 101011</p>
          <p>example@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>